{% extends "_base.html" %}

{% block page_title %}
قوانین سایت sbedeh.ir
{% endblock page_title %}

{% block optional_content %}
{% comment %} میخوام اینجا خالی باشه و نشون نده. {% endcomment %}
{% endblock optional_content %}

{% block content %}
<div class="container-fluid p-4 m-4">
    <h1>قوانین سایت sbedeh.ir</h1>
    <h2>
        شرایط عمومی
    </h2>
    <ul>
        <li>
            استفاده از خدمات سایت به معنای پذیرش کامل قوانین و مقررات سایت است.
        </li>
        <li>
            کاربران موظف به ارائه اطلاعات صحیح و کامل در هنگام ثبت نام هستند. در صورت ارائه اطلاعات نادرست، مسئولیت عواقب آن بر عهده کاربر خواهد بود.
        </li>
    </ul>
    <h2>
        حریم خصوصی
    </h2>
    <ul>
        <li>
            اطلاعات شخصی کاربران به هیچ وجه به اشخاص ثالث واگذار نخواهد شد و تنها برای ارائه خدمات بهتر استفاده خواهد شد.
        </li>
    </ul>
    <h2>
        مسئولیت ها
    </h2>
    <ul>
        <li>
            کاربران موظف به رعایت قوانین جمهوری اسلامی ایران در استفاده از خدمات سایت هستند.
        </li>
        <li>
            هرگونه سوء استفاده از اطلاعات و خدمات سایت پیگرد قانونی خواهد داشت.
        </li>
    </ul>
    <h2>
        شرایط استفاده
    </h2>
    <ul>
        <li>
            خدمات و محتویات سایت تنها برای استفاده شخصی و غیرتجاری کاربران ارائه شده است.
        </li>
        <li>
            کاربران نباید از اطلاعات و محتویات سایت برای فروش، تولید مجدد یا ایجاد ترافیک در سایت خود استفاده کنند.
        </li>
    </ul>
    <h2>
        تغییرات در قوانین
    </h2>
    <ul>
        <li>
            سایت حق دارد در هر زمان قوانین و مقررات خود را تغییر دهد. تغییرات از طریق همین صفحه سایت به اطلاع کاربران خواهد رسید و ادامه استفاده از خدمات سایت به معنای پذیرش تغییرات است.
        </li>
    </ul>

    <h2>
        پشتیبانی و ارتباطات
    </h2>
    <ul>
        <li>
            کاربران میتوانند در صورت بروز هرگونه مشکل یا سوال، موضوع را به آدرس ایمیل mohammad.pfallah@gmail.com ارسال نمایند.
        </li>
    </ul>
</div>
{% endblock content %}